.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 10px;
    line-height: 2.0;
    vertical-align: top;
    border-top: none;
    /* border-top: 2px solid #e1e1e8; */
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background: #f3f4f5;
}

.mg-left {
    margin-right: 15px;
}

.mg-right {
    margin-left: 15px;
}

.list-panel {
    background-color: #edeff1;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.list-btn {
    padding: 5px;
}

.list-buttons {
    background-color: #34495e;
    margin: -5px -10px;
    # border-radius: 6px;
    color: #48c9b0;
}
