.grid-header li {
    text-align: center;
    padding-top: 10px;
}

.ui-list .ui-grid-trisect li {
    padding-bottom: 0;
}

.ranking-badge {
    text-align: center;
    color: #FFF;
    width: 20px;
    height: 20px;
    margin: 0;
    border-radius: 50%;
}

.ranking1 {
    background: red;
}
.ranking2 {
    background: yellow;
}
.ranking3 {
    background: green;
}

.text-center {
    text-align: center;
}

.ui-tooltips-vip {
    text-align: center;
}

.ui-tooltips-vip .ui-tooltips-cnt {
    padding-left: 0;
}
